# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3
db.sqlite3-journal

# Media / Uploaded files
media/

# Virtual Environments
venv/
env/
companyenv/

# IDE files
.vscode/
.idea/
.gemini/
antigravity-ide/
